@using MealWheel
@model IEnumerable<MealWheel.Models.Food_Products>
@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/style1.css">
</head>

<body>
    <br>
     <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="header1">
            <img src="~/img/icecream.jpg" alt="banner-1" class="img-responsive">
            <div class="s-desc header1-heading-small"><h2>Ice Creams &amp; Sorbets</h2>
              <h4><span>NEW!</span> MISS GLA'GLA SORBET ISPAHAN</h4>
              <p>ROSE, LITCHI &amp; RASPBERRY - $6.90</p>
              <br />
              <a href="#" class="button1 button1-white button1-anim">shop now</a>
            </div>
          </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="header1">
                <img src="~/img/macrons.jpg" alt="banner-1" class="img-responsive">
                <div class="s-desc header1-heading-small"><h2>Ice Creams &amp; Sorbets</h2>
                  <h4><span>NEW!</span> MISS GLA'GLA SORBET ISPAHAN</h4>
                  <p>ROSE, LITCHI &amp; RASPBERRY - $6.90</p>
                  <br />
                  <a href="#" class="button1 button1-white button1-anim">shop now</a>
                </div>
                </div>
                </div>
                <div class="col-md-4 col-sm-12">
                  <div class="header1">
                    <img src="~/img/cookies.jpg" alt="banner-1" class="img-responsive">
                    <div class="s-desc header1-heading-small"><h2>Ice Creams &amp; Sorbets</h2>
                      <h4><span>NEW!</span> MISS GLA'GLA SORBET ISPAHAN</h4>
                      <p>ROSE, LITCHI &amp; RASPBERRY - $6.90</p>
                      <br />
                      <a href="#" class="button1 button1-white button1-anim">shop now</a>
                    </div>
                    </div>
        </div>
        </div>
        <br />
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <div class="header1">
              <img src="~/img/icecream.jpg" alt="banner-1" class="img-responsive">
              <div class="s-desc header1-heading-small"><h2>Ice Creams &amp; Sorbets</h2>
                <h4><span>NEW!</span> MISS GLA'GLA SORBET ISPAHAN</h4>
                <p>ROSE, LITCHI &amp; RASPBERRY - $6.90</p>
                <a href="#" class="button1 button1-white button1-anim">shop now</a>
              </div>
              </div>
            </div>
          <div class="col-md-8 col-sm-12">
            <div class="row">
             @foreach(var item in Model)
             {
            <div class="col-md-3 col-sm-4 produ">
            <div class="img-con">
              <div class="proo">
                <center>
              <img src="~/@item.picurl" alt="" width="100px" height="100px">
              <a class="text-uppercase" asp-action="Details" asp-route-id="@item.Id">
                    </a>
            </center>
            </div>
            <div class="title">
                <a class="text-uppercase" asp-action="Details" asp-route-id="@item.Id">
                    <h4>
                @item.Name
                </h4>
                    </a>
              <p>
                @item.description 
              </p>
              <div class="nav2 helloo">
                <h6>
                  Rs.@item.Price /-
                </h6>
                &nbsp;
                &nbsp;

                <h5>
                  
                </h5>
                <a href="#">
                    <i class="fa fa-cart-plus"></i>
                </a>
            </div>
            </div>
          </div>
        </div>
        }
          <div class="col-md-3 col-sm-4 produ">
            <div class="img-con">
              <div class="proo">
                <center>
              <img src="~/img/candy.png" alt="" width="100px" height="100px">
            </center>
            </div>
            <div class="title">
              <h4>
                Ice cream
              </h4>
              <p>
                It has never been easier to shop sweets than it is now with ..
              </p>
              <div class="nav2">
                <h6>
                  $34.00
                </h6>
                <a href="#">
                    <i class="fa fa-cart-plus"></i>
                </a>
            </div>
            </div>
          </div>
          </div>
          <div class="col-md-3 col-sm-4 produ">
            <div class="img-con">
              <div class="proo">
                <center>
              <img src="~/img/chicken.png" alt="" width="100px" height="100px">
            </center>
            </div>
            <div class="title">
              <h4>
                Chicken
              </h4>
              <p>
                It has never been easier to shop sweets than it is now with ..
              </p>
              <div class="nav2">
                <h6>
                  $34.00
                </h6>
                <a href="#">
                    <i class="fa fa-cart-plus"></i>
                </a>
            </div>
            </div>
          </div>
          </div>
           <div class="col-md-3 col-sm-4 produ">
            <div class="img-con">
              <div class="proo">
                <center>
              <img src="~/img/ice.png" alt="" width="100px" height="100px">
            </center>
            </div>
            <div class="title">
              <h4>
                Ice cream
              </h4>
              <p>
                It has never been easier to shop sweets than it is now with .. 
              </p>
              <div class="nav2">
                <h6>
                  $34.00
                </h6>
                &nbsp;
                &nbsp;

                <h5>
                  $34.00
                </h5>
                <a href="#">
                    <i class="fa fa-cart-plus"></i>
                </a>
            </div>
            </div>
          </div>
        </div>
          <div class="col-md-3 col-sm-4 produ">
            <div class="img-con">
              <div class="proo">
                <center>
              <img src="~/img/candy.png" alt="" width="100px" height="100px">
            </center>
            </div>
            <div class="title">
              <h4>
                Candy
              </h4>
              <p>
                It has never been easier to shop sweets than it is now with ..
              </p>
              <div class="nav2">
                <h6>
                  $34.00
                </h6>
                <a href="#">
                    <i class="fa fa-cart-plus"></i>
                </a>
            </div>
            </div>
          </div>
          </div>
          <div class="col-md-3 col-sm-4 produ">
            <div class="img-con">
              <div class="proo">
                <center>
              <img src="~/img/ice.png" alt="" width="100px" height="100px">
            </center>
            </div>
            <div class="title">
              <h4>
                Ice cream
              </h4>
              <p>
                It has never been easier to shop sweets than it is now with .. 
              </p>
              <div class="nav2">
                <h6>
                  $34.00
                </h6>
                &nbsp;
                &nbsp;

                <h5>
                  $34.00
                </h5>
                <a href="#">
                    <i class="fa fa-cart-plus"></i>
                </a>
            </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 produ">
          <div class="img-con">
            <div class="proo">
              <center>
            <img src="~/img/biscuits.png" alt="" width="100px" height="100px">
          </center>
          </div>
          <div class="title">
            <h4>
              Bisucuit
            </h4>
            <p>
              It has never been easier to shop sweets than it is now with ..
            </p>
            <div class="nav2">
              <h6>
                $34.00
              </h6>
              <a href="#">
                  <i class="fa fa-cart-plus"></i>
              </a>
          </div>
          </div>
        </div>
        </div>
         <div class="col-md-3 col-sm-4 produ">
            <div class="img-con">
              <div class="proo">
                <center>
              <img src="~/img/ice.png" alt="" width="100px" height="100px">
            </center>
            </div>
            <div class="title">
              <h4>
                Ice cream
              </h4>
              <p>
                It has never been easier to shop sweets than it is now with .. 
              </p>
              <div class="nav2">
                <h6>
                  $34.00
                </h6>
                &nbsp;
                &nbsp;

                <h5>
                  $34.00
                </h5>
                <a href="#">
                    <i class="fa fa-cart-plus"></i>
                </a>
            </div>
            </div>
          </div>
        </div>
        </div>
        </div>
        </div>
</body>
